/* || FONTS */

@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap");

/* || RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Nunito", sans-serif;

  /* COLORS */
  --BG-COLOR: rgb(0, 0, 0);
  --BG-IMAGE: url(../images/background-image.jpg);
  --FONT-COLOR: rgb(255, 255, 255);
  --FONT-SHADOWS: 2px 2px 4px rgb(0, 0, 0, 0.75);
  --CLOCK-SPAN-BG-COLOR: rgb(106, 90, 205);
  --CLOCK-TEXT-BG-COLOR: rgb(0, 0, 139);
  --CLOCK-AMPM-BG-COLOR: rgb(0, 128, 0);
}

/* || GENERAL STYLES */

html {
  font-family: var(--FF);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--BG-COLOR);
  background-image: var(--BG-IMAGE);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--FONT-COLOR);
}

h2 {
  font-size: 25px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: var(--FONT-SHADOWS);
}

/* || CLOCK */

.clock {
  display: flex;
}

.clock__div {
  position: relative;

  margin: 5px;
}

.clock__span {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--CLOCK-SPAN-BG-COLOR);
  opacity: 0.8;

  font-size: 50px;
  text-shadow: var(--FONT-SHADOWS);
}

.clock__span-text {
  height: 30px;

  background-color: var(--CLOCK-TEXT-BG-COLOR);

  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.clock__span-ampm {
  position: absolute;
  bottom: 0px;
  width: 45px;
  height: 30px;

  background-color: var(--CLOCK-AMPM-BG-COLOR);

  font-size: 15px;
}

/* || MEDIA QUERIES */

/* SMALL SCREEN */

@media screen and (min-width: 576px) {
  h2 {
    font-size: 30px;
    letter-spacing: 5px;
  }

  .clock__span {
    width: 100px;
    height: 100px;

    font-size: 63px;
  }

  .clock__span-text {
    height: 38px;

    font-size: 13px;
    letter-spacing: 3px;
  }

  .clock__span-ampm {
    width: 56px;
    height: 38px;

    font-size: 19px;
  }
}

/* MEDIUM SCREEN */

@media screen and (min-width: 768px) {
  h2 {
    font-size: 35px;
    letter-spacing: 6px;
  }

  .clock__span {
    width: 120px;
    height: 120px;

    font-size: 75px;
  }

  .clock__span-text {
    height: 45px;

    font-size: 15px;
    letter-spacing: 3px;
  }

  .clock__span-ampm {
    width: 68px;
    height: 45px;

    font-size: 23px;
  }
}

/* || LARGE SCREEN */

@media screen and (min-width: 992px) {
  h2 {
    font-size: 43.5px;
    letter-spacing: 7px;
  }

  .clock__span {
    width: 140px;
    height: 140px;

    font-size: 89px;
  }

  .clock__span-text {
    height: 53px;

    font-size: 18px;
    letter-spacing: 3px;
  }

  .clock__span-ampm {
    width: 79px;
    height: 53px;

    font-size: 26px;
  }
}

/* || XL SCREEN */

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 50px;
    letter-spacing: 8px;
  }

  .clock__span {
    width: 160px;
    height: 160px;

    font-size: 100px;
  }

  .clock__span-text {
    height: 60px;

    font-size: 20px;
    letter-spacing: 4px;
  }

  .clock__span-ampm {
    width: 90px;
    height: 60px;

    font-size: 30px;
  }
}

/* || MOBILE DEVICE LANDSCAPE  */

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  h2 {
    font-size: 35px;
    letter-spacing: 6px;
  }

  .clock__span {
    width: 120px;
    height: 120px;

    font-size: 75px;
  }

  .clock__span-text {
    height: 45px;

    font-size: 15px;
    letter-spacing: 3px;
  }

  .clock__span-ampm {
    width: 68px;
    height: 45px;

    font-size: 23px;
  }
}
