@use "../abstracts" as *;

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(rem(-28));

  background-color: var(--body-bg-color);
  background-image: var(--body-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--body-color);

  font-family: var(--font-family-body);
  font-size: var(--font-size-body);

  @include breakpoint(medium) {
    transform: translateY(rem(-35));
  }

  @include breakpoint(large) {
    transform: translateY(rem(-44));
  }
}
