@use "functions" as *;

$variables: (
  // || Body
  body:
    (
      bg-color: var(--color-gray-900),
      bg-image: url(/images/background-image.jpg),
      color: var(--color-gray-100),
    ),

  // || Border Radius
  border:
    (
      radius: rem(10),
    ),

  // || Text Shadow
  text:
    (
      shadow: rem(2) rem(2) rem(5) var(--color-black-900),
    ),

  // || Clock Colors
  clock:
    (
      span-bg-color: var(--color-purple-450),
      label-bg-color: var(--color-blue-450),
      ampm-bg-color: var(--color-green-550),
    )
);
